/*style.css*/

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

body {
    background-color: #e6e6e6;
    color: var(--primary-dark);
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    margin-bottom: 100px;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

p {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

/* Top navigation bar */
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    font-size: 24px;
    color: F9FAF8;
    font-weight: bold;
    padding-left: 120px;
    padding-right: 120px;
    margin: 0%;
}

.header .left {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding-top: 40px;
    color: #E5E7EB;
    min-width: 30vw;
}

.links {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 40px;
    list-style-type: none;
    padding-top: 40px;
}

/* Main section of page */
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 7vh;
}

#openModal {
    background-color: transparent;
    border: none;
    padding: 2vh;
    font-weight: bold;
    font-size: 2rem;
}

#openModal:hover {
    cursor: pointer;
    background: lightgray;
    border-radius: 10%;
    transition-duration: 0.4s;
}

/* Modal stuff */
.modal {
    display: none; /* Hidden by default */
    position: absolute; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  .modal-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: 'Fira Sans', sans-serif;
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    line-height: 1rem;    
    border: 1px solid #888;
    width: 20em; /* Could be more or less, depending on screen size */
  }

.readInput {
    position: relative;
    flex-direction: row;
    justify-items: center;
    bottom: 10px;
}

label {
    font-size: 1.2em;
    font-weight: bolder;
    text-decoration: underline;
    font-family: 'Roboto', sans-serif;
}

#submitBtn {
    height: 3rem;
    width: 15rem;
    margin-top: 15px;
    background-color: rgba(104, 155, 248);
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: bold;
}

#submitBtn:hover {
    cursor: pointer;
}

form h1 {
    position: relative;
    bottom: .5em;
    font-weight: bolder;
    font-size: 2em;
    font-family: 'Roboto', sans-serif;
}

input {
    height: 3rem;
    width: 15rem;
    font-weight: bold;
    border-radius: 8px;
    border-width: 2.5px;
    font-size: 1.5em;
}

.invalid::placeholder {
    color: red;
}

.invalid {
    border-color: red;
}

.valid::placeholder {
    color: green;
}

.valid {
    border-color: green;
}

input#read {
    position: relative;
    top: 8px;
    height: 2rem;
    width: 5rem;
}

input#read:hover {
    cursor: pointer
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Close button */
.close {
    position: relative;
    left: 5.5em;
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/*Library grid styling */
#library {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4vw;
    padding: 1vw;
}

ul {
    padding: 0;
}

/*Book card styling*/
.frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 12rem;
    width: 14rem;
    margin: 10px;
}

.inner {
    min-height: 11em;
    min-width: 13em;
    max-height: 11em;
    max-width: 13em;
    border: solid 3px #ccc;
    background-color: rgba(192, 203, 213);
    cursor: all-scroll;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    line-height: 0;
    align-items: center;
    /* overflow: auto; */
    font-size: 20px;
    font-weight: bold;
    font-family: 'Fira Sans', sans-serif;
}

.inner h2 {
    font-size: 1em;
    text-decoration: underline;
}

.inner h3 {
    font-size: 1em;
    font-style: italic;
}



.label-header {
    font-size: 1.5rem;
    text-decoration: underline;
}

.readButton {
    height: 2.5rem;
    width: 10rem;
    margin-top: 15px;
    background-color: rgba(104, 155, 248);
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: bold;
}

.readButton:hover {
    cursor: pointer;
}

.isRead {
    background-color: green;
}

.notRead {
    background-color: red;
}

/* Kanban Board set-up*/
.swimLanes {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0;
}

.box {
    height: 12em;
    width: 14em;
    border: solid 3px #ccc;
    margin: 10px;
    /* align items in the box */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.drag-over {
    padding: 5px;
    transition-duration: 0.3s;
}

.item {
    height: 11em;
    width: 13em;
    border: solid 3px #ccc;
    background-color: rgba(192, 203, 213);
    cursor: all-scroll;
}

.hide {
    display: none;
}

.short {
    display: flex;
    flex-direction: row;
}

.medium {
    display: flex;
    flex-direction: row;
}

.long {
    display: flex;
    flex-direction: row;
}