/*style.css*/

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

body {
    background-color: #e6e6e6;
    color: var(--primary-dark);
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    margin-bottom: 100px;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

p {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

/* Top navigation bar */
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    font-size: 24px;
    color: F9FAF8;
    font-weight: bold;
    padding-left: 120px;
    padding-right: 120px;
    margin: 0%;
}

.header .left {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding-top: 40px;
    color: #E5E7EB;
    min-width: 30vw;
}

.links {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 40px;
    list-style-type: none;
    padding-top: 40px;
}

/* Main section of page */
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 7vh;
}

#openModal {
    background-color: transparent;
    border: none;
    padding: 2vh;
    font-weight: bold;
    font-size: 2rem;
}

#openModal:hover {
    cursor: pointer;
    background: lightgray;
    border-radius: 10%;
    transition-duration: 0.4s;
}

/* Modal stuff */
.modal {
    display: none; /* Hidden by default */
    position: absolute; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  .modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 20em; /* Could be more or less, depending on screen size */
  }

.readInput {
    position: relative;
    flex-direction: row;
    justify-items: center;
    bottom: 15px;
}

label {
    font-size: 18px;
    font-weight: bolder;
}

#submitBtn {
    height: 2rem;
    width: 15rem;
    margin-top: 15px;
}

#submitBtn:hover {
    cursor: pointer;
}

input {
    height: 2rem;
    width: 15rem;
}

input#read {
    position: relative;
    top: 8px;
    height: 2rem;
    width: 5rem;
}

input#read:hover {
    cursor: pointer
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Close button */
.close {
    position: relative;
    left: 5.5em;
    bottom: .5em;
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/*Library grid styling */
#library {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4vw;
    padding: 1vw;
}

ul {
    padding: 0;
}

/*Book card styling*/
.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: auto;
    border: solid 3px #ccc;
    height: 12em;
    width: 14em;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.label-header {
    font-size: 1.5rem;
    text-decoration: underline;
}

/* Kanban Board set-up*/
.swimLanes {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0;
}

.box {
    height: 12em;
    width: 14em;
    border: solid 3px #ccc;
    margin: 10px;
    /* align items in the box */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.drag-over {
    padding: 5px;
    transition-duration: 0.3s;
}

.item {
    height: 75px;
    width: 75px;
    background-color: #F0DB4F;
    cursor: all-scroll;
}

.hide {
    display: none;
}

.short {
    display: flex;
    flex-direction: row;
}

.medium {
    display: flex;
    flex-direction: row;
}

.long {
    display: flex;
    flex-direction: row;
}